<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed">
  <a class="navbar-brand" href="#">
    <img src="./assets/so-icon.png" alt="" class="icon">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <a class="nav-link" routerLink="./questions" (click)="onSelect('questions')">Questions</a>
      <a class="nav-link" routerLink="./jobs" (click)="onSelect('job')">Developers Jobs</a>
      <a class="nav-link" routerLink="./tags" (click)="onSelect('tags')">Tags</a>
      <a class="nav-link" routerLink="./users" (click)="onSelect('users')">Users</a>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <form class="form-inline">
          <form id="search" action="/search" method="get" class="searchbar" autocomplete="off" role="search">
            <input name="q" type="text" placeholder="Search…" value="" tabindex="1" autocomplete="off" maxlength="340" class="f-input js-search-field">
            <button type="submit" aria-label="Search..." class="btn-topbar-primary js-search-submit">
              <svg aria-hidden="true" class="svg-icon iconSearch" width="18" height="18" viewBox="0 0 18 18">
                <path d="M12.86 11.32L18 16.5 16.5 18l-5.18-5.14v-.35a7 7 0 1 1 1.19-1.19h.35zM7 12A5 5 0 1 0 7 2a5 5 0 0 0 0 10z"></path>
              </svg>
            </button>
          </form>
          <a class="nav-link" routerLink="./profile" (click)="onSelect('profile')">
            <div class="gravatar-wrapper-24" title="Naheed Akhtar">
              <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=48" alt="" width="24"
                height="24" class="-avatar js-avatar-me">
            </div>
          </a>
          <div class="row">
            <div class="-rep js-header-rep col-1" title="your reputation: 1">1</div>
            <div class="-badges col-2">
              <span title="1 bronze badge">
                <span class="badge3">●</span>
                <span class="badgecount">1</span>
              </span>
            </div>
            <div class="col-2" title="Recent inbox messeges">
              <a class="nav-link" routerLink="/inbox">
                <svg aria-hidden="true" class="svg-icon iconInbox" width="20" height="18" viewBox="0 0 20 18">
                  <path d="M15.19 1H4.63c-.85 0-1.6.54-1.85 1.35L0 10.79V15c0
                    1.1.9 2 2 2h16a2 2 0 0 0 2-2v-4.21l-2.87-8.44A2 2 0 0 0 15.19
                    1zm-.28 10l-2 2h-6l-2-2H1.96L4.4 3.68A1 1 0 0 1 5.35 3h9.12a1
                    1 0 0 1 .95.68L17.86 11h-2.95z">
                  </path>
                </svg>
                <span class="indicator-badge js-unread-count _important" style="display: none;"></span>
              </a>
            </div>
            <div class="col-2" title="Recent achivements, reputation, badges and privileges earned">
              <a class="nav-link" routerLink="/achivements">
                <svg aria-hidden="true" class="svg-icon iconAchievements" width="18" height="18" viewBox="0 0 18 18">
                  <path d="M15 2V1H3v1H0v4c0 1.6 1.4 3 3 3v1c.4 1.5 3 2.6 5
                      3v2H5s-1 1.5-1 2h10c0-.4-1-2-1-2h-3v-2c2-.4 4.6-1.5
                      5-3V9c1.6-.2 3-1.4 3-3V2h-3zM3 7c-.5 0-1-.5-1-1V4h1v3zm8.4 
                      2.5L9 8 6.6 9.4l1-2.7L5 5h3l1-2.7L10 5h2.8l-2.3
                     1.8 1 2.7h-.1zM16 6c0 .5-.5 1-1 1V4h1v2z">
                  </path>
                </svg>
                <span class="indicator-badge js-unread-count _important" style="display: none;"></span>
              </a>
            </div>
            <div class="col-2" title="Help center and other resouces">
              <a class="nav-link" routerLink="/help">
                <svg aria-hidden="true" class="svg-icon iconHelp" width="18" height="18" viewBox="0 0 18 18">
                  <path d="M9 1a8 8 0 1 0 0 16A8 8 0 0 0 9 1zm.81 12.13c-.02.71-.55 1.15-1.24
                     1.13-.66-.02-1.17-.49-1.15-1.2.02-.72.56-1.18 1.22-1.16.7.03 1.2.51 1.17
                     1.23zM11.77 8a5.8 5.8 0 0 1-1.02.91l-.53.37c-.26.2-.42.43-.5.69a4
                     4 0 0 0-.09.75c0 .05-.03.16-.18.16H7.88c-.16 0-.18-.1-.18-.15.03-.66.12-1.21.4-1.66a5.29
                     5.29 0 0 1 1.43-1.22c.16-.12.28-.25.38-.39a1.34 1.34 0 0 0 .02-1.71c-.24-.31-.51-.46-1.03-.46-.51
                     0-.8.26-1.02.6-.21.33-.18.73-.18 1.1H5.75c0-1.38.35-2.25 1.1-2.76.52-.35 1.17-.5 1.93-.5 1 0 1.79.18
                     2.49.71.64.5.98 1.18.98 2.12 0 .57-.2 1.05-.48 1.44z">
                  </path>
                </svg>
                <span class="indicator-badge js-unread-count _important" style="display: none;"></span>
              </a>
            </div>
            <div class="col-2" title="A list of all 173 stack exchange sites">
              <a class="nav-link" href="#">
                <svg aria-hidden="true" class="svg-icon iconStackExchange" width="18" height="18" viewBox="0 0 18 18">
                  <path d="M1 13c0 1.1.9 2 2 2h8v3l3-3h1a2 2 0 0 0 2-2v-2H1v2zM15
                     1H3a2 2 0 0 0-2 2v2h16V3a2 2 0 0 0-2-2zM1 6h16v4H1V6z">
                  </path>
                </svg>
              </a>
            </div>
          </div>
        </form>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>

<app-body></app-body>
<app-questions *ngIf="loadedFeature === 'intrest'"></app-questions>
<app-jobs *ngIf="loadedFeature !== 'intrest'"></app-jobs>
<app-tags *ngIf="loadedFeature !== 'intrest'"></app-tags>
<app-users *ngIf="loadedFeature !== 'intrest'"></app-users>
<app-profile *ngIf="loadedFeature !== 'intrest'"></app-profile>
<!-- <router-outlet></router-outlet> -->