.icon{
    max-height: 50px;
    max-width: 150px;
}

.nav-link{
    font-size: 25px;
}
.navbar.navbar-expand-lg.navbar-light.bg-light{
    border-bottom: 2px solid #E4E4E4;
    border-top: 3px solid #F48024;
    position: relative;
}

.form-control{
    width: 400px;
    height: 50px;
}
#search{
    height: 50px;
    width: 500px;
}

#navbarSupportedContent{
    padding-top: 3px;
}
.questions{
    border-bottom: 2px solid #F48024;
}
ul a{
    font-size: 14px;
    display: block;
    color: #535a60;
}
ul a:hover{
    background-color : (.165, .84, .44, 1);
}