<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="./assets/so-icon.png" alt="" class="icon">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <a class="nav-link" appBasic routerLink="/questions" routerLinkActive="active">Questions</a>
      <a class="nav-link" appBasic routerLink="/jobs" routerLinkActive="active">Developers Jobs</a>
      <a class="nav-link" appBasic routerLink="/tags" routerLinkActive="active">Tags</a>
      <a class="nav-link" appBasic routerLink="/users" routerLinkActive="active">Users</a>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <form class="form-inline">
          <div class="form-inline">
            <input type="text" placeholder="Search…" id="search" autocomplete="off" >
            <button class="btn btn-primary"><i class="fa fa-search" style="font-size: 35px"></i></button>
          </div>
          <a class="nav-link" routerLink="/profile">
            <div class="gravatar-wrapper-24" title="Naheed Akhtar">
              <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=48" alt="" width="30"
                height="30" class="-avatar js-avatar-me">
            </div>
          </a>
          <div class="row">
            <div class="-rep js-header-rep col-1" title="your reputation: 1">1</div>
            <div class="-badges col-2">
              <span title="1 bronze badge">
                <span class="badge3">●</span>
                <span class="badgecount">1</span>
              </span>
            </div>
            <div class="col-2" title="Recent inbox messeges">
              <a class="nav-link" routerLink="/inbox">
                <i class="fa fa-inbox" style="font-size: 30px"></i>
              </a>
            </div>
            <div class="col-2" title="Recent achivements, reputation, badges and privileges earned">
              <a class="nav-link" routerLink="achivements">
                <i class="fa fa-trophy" style="font-size: 30px"></i>
              </a>
            </div>
            <div class="col-2" title="Help center and other resouces">
              <a class="nav-link" routerLink="/help">
                <i class="fa fa-question-circle" style="font-size: 30px"></i>
              </a>
            </div>
            <div class="col-2" title="A list of all 173 stack exchange sites">
              <a class="nav-link" href="#">
                <i class="fa fa-stack-exchange" style="font-size: 30px"></i>
              </a>
            </div>
          </div>
        </form>
      </ul>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <form class="form-inline">
            <input type="text" placeholder="Search…" id="search">
            <a class="nav-link" routerLink="/profile">
              <div class="gravatar-wrapper-24" title="Naheed Akhtar">
                <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=48" alt="" width="30"
                  height="30" class="-avatar js-avatar-me">
              </div>
            </a>
            <div class="row">
              <div class="-rep js-header-rep col-1" title="your reputation: 1">1</div>
              <div class="-badges col-2">
                <span title="1 bronze badge">
                  <span class="badge3">●</span>
                  <span class="badgecount">1</span>
                </span>
              </div>
              <div class="col-2" title="Recent inbox messeges">
                <a class="nav-link" routerLink="/inbox">
                  <i class="fa fa-inbox" style="font-size: 30px"></i>
                </a>
              </div>
              <div class="col-2" title="Recent achivements, reputation, badges and privileges earned">
                <a class="nav-link" routerLink="achivements">
                  <i class="fa fa-trophy" style="font-size: 30px"></i>
                </a>
              </div>
              <div class="col-2" title="Help center and other resouces">
                <a class="nav-link" routerLink="/help">
                  <i class="fa fa-question-circle" style="font-size: 30px"></i>
                </a>
              </div>
              <div class="col-2" title="A list of all 173 stack exchange sites">
                <a class="nav-link" href="#">
                  <i class="fa fa-stack-exchange" style="font-size: 30px"></i>
                </a>
              </div>
            </div>
          </form>
        </ul>
      </div>
    </div>
 
</div>
</nav>
<br>
<br>