.questions{
    font-size: 20px;
    border-top: 1px solid #F48024
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    width: 350px;
    height: 250px;
    background-color: lightgrey;
}

.body{
    margin-left: 10px;
}