<div class="row">
  <div class="col-4">
    <h3>
      Top Questions
    </h3>
  </div>
  <div class="col-6" id="tabs">
    <ul class="row">
        <div title="Questions that may be of your interest to you based on your history and tag preference"
          class="questions" role="presentation">
          <a class="nav-link" routerLink="/intrest" 
            >interseting
          </a>
        </div>
        <div title="Questions with an active bounty" class="questions">
            <a class="nav-link" routerLink="/featured"
             >
              <span class="bounty-indicator-tab">367</span>featured
            </a>
        </div>
        <div title="Questions with the most views, answers and votes over the last few days"
            class="questions">
            <a class="nav-link" routerLink="/hot">hot</a>
        </div>
        <div title="Questions with the most views, answers and votes this week"
            class="questions">
            <a routerLink="/week" class="nav-link">week</a>
        </div>
        <div title="Questions with the most views, answers and votes this month"
            class="questions">
            <a routerLink="/month" class="nav-link">month</a>
        </div>
      </ul>
    </div>
  <button class="btn btn-primary">Ask Questions</button>
  <hr>
</div>
<app-intrest></app-intrest>
<!-- <router-outlet></router-outlet> -->