<div class="row col-12 body">
  <div class="col-3 nav nav-tabs">
    <h3>
      Top Questions
    </h3>
  </div>
  <div class="col-5 nav nav-tabs">
    <ul class="row">
        <div title="Questions that may be of your interest to you based on your history and tag preference"
          class="questions" role="presentation">
          <a class="nav-link" routerLink="/intrest" 
          routerLinkActive="active">interseting
          </a>
        </div>
        <div title="Questions with an active bounty" class="questions">
            <a class="nav-link" routerLink="/featured"
            routerLinkActive="active">
              <span class="bounty-indicator-tab">367</span>featured
            </a>
        </div>
        <div title="Questions with the most views, answers and votes over the last few days"
            class="questions">
            <a class="nav-link" routerLink="/hot" routerLinkActive="active">hot</a>
        </div>
        <div title="Questions with the most views, answers and votes this week"
            class="questions">
            <a routerLink="/week" class="nav-link" routerLinkActive="active">week</a>
        </div>
        <div title="Questions with the most views, answers and votes this month"
            class="questions">
            <a routerLink="/month" class="nav-link" routerLinkActive="active">month</a>
        </div>
      </ul>
    </div>
      <div class="col-4">
      <ul class="row pull-right">
          <button class="btn btn-primary" routerLink="/askquiz">Ask Questions</button>
        </ul>
  </div>
  </div>


 
  
