.questions{
    font-size: 20px;
    border-top: 1px solid #F48024
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    width: 450px;
    height: 450px;
    background-color: #FFF8DC;
    border: 1px solid #E0DCBF;
    color: #9C988B;
    margin-right: 20px;
}

.body{
    margin-left: 10px;
}

.featured{
    margin-top: 20px;
}

.btn.btn-primary{
    margin-right: 20px;
}

.left{
    font-size: 20px;
    text-decoration: none;
}
span{
    font-size: 20px;
}

.btn.btn-default{
    background-color: #E1ECF4;
}

.number{
    background-color: #0077DD;
    color: #fff;
}