
  <div class="row body">
    <div class="col-3 nav nav-tabs">
      <h3>
        Top Questions
      </h3>
    </div>
    <div class="col-5 nav nav-tabs">
      <ul class="row">
        <div title=
         "Questions that may be of your interest to you based on your history and tag preference"
          role="presentation">
          <a class="nav-link" appBody routerLink="/intrest" routerLinkActive="active">interseting
          </a>
        </div>
        <div title="Questions with an active bounty">
          <a class="nav-link" appBody routerLink="/featured" routerLinkActive="active">
            <span class="number"> &nbsp; 367 &nbsp;</span> &nbsp;featured
          </a>
        </div>
        <div title="Questions with the most views, answers and votes over the last few days">
          <a class="nav-link" appBody routerLink="/hot" routerLinkActive="active">&nbsp;hot</a>
        </div>
        <div title="Questions with the most views, answers and votes this week">
          <a routerLink="/week" appBody class="nav-link" routerLinkActive="active">&nbsp;week</a>
        </div>
        <div title="Questions with the most views, answers and votes this month">
          <a routerLink="/month" appBody class="nav-link" routerLinkActive="active">
            &nbsp; month&nbsp;&nbsp;</a>
        </div>
      </ul>
    </div>
  </div>

  