<div class="first">
    <ul class="row col-8 nav nav-tabs">
        <div class="votes">
            <div routerLink="/votes">
                <div class="mini-counts">
                    <span title="0 votes"> &nbsp; &nbsp;&nbsp;&nbsp; 0 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </div>
                <div>&nbsp;&nbsp;&nbsp;votes</div>
            </div>
        </div>
        <div class="status unanswered">
            <div routerLink="/answers">
                <div class="mini-counts">
                    <span title="0 answers"> &nbsp; &nbsp; &nbsp; 0 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </div>
                <div>answers</div>
            </div>
        </div>
        <div class="views">
            <div routerLink="/views">
                <div class="mini-counts">
                    <span title="15 views"> &nbsp; &nbsp; 15 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </div>
                <div>&nbsp;&nbsp;views</div>
            </div>
        </div>
        <div class="description">
            <div routerLink="">Not able to get value of SearchView on BackPress in android</div>
            <button class="btn btn-default">
                <img src="//i.stack.imgur.com/tKsDb.png"
                 height="18" width="20" alt="" class="sponsor-tag-img"> android
            </button>
            <button class="btn btn-default">
                andriod-layout
            </button>
            <button class="btn btn-default">
                <img src="//i.stack.imgur.com/xqoqk.png"
                 height="18" width="20" alt="" class="sponsor-tag-img"> android-studio
            </button>
            <button class="btn btn-default">
                android-fragments
            </button>
            <button class="btn btn-default" data-placement="bottom"
               ngbPopover="You see, I show up on hover!"
                triggers="mouseenter:mouseleave"
                popoverTitle="Pop title">
                searchview
            </button>
        </div>
    </ul>
</div>
<div class="first">
    <ul class="row col-8 nav nav-tabs">
        <div class="votes">
            <div routerLink="/votes">
                <div class="mini-counts">
                    <span title="0 votes">
                         &nbsp; &nbsp;&nbsp;&nbsp; 0 &nbsp; &nbsp; &nbsp; &nbsp;
                    </span>
                </div>
                <div>&nbsp;&nbsp;&nbsp;votes</div>
            </div>
        </div>
        <div class="status unanswered">
            <div routerLink="/answers">
                <div class="mini-counts">
                    <span title="0 answers"> &nbsp; &nbsp; &nbsp; 0 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </div>
                <div>answers</div>
            </div>
        </div>
        <div class="views">
            <div routerLink="/views">
                <div class="mini-counts">
                    <span title="15 views"> &nbsp; &nbsp; 15 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </div>
                <div>&nbsp;&nbsp;views</div>
            </div>
        </div>
        <div class="description">
            <div routerLink="">Not able to get value of SearchView on BackPress in android</div>
            <button class="btn btn-default">
                <img src="//i.stack.imgur.com/tKsDb.png"
                 height="18" width="20" alt="" class="sponsor-tag-img"> android
            </button>
            <button class="btn btn-default">
                andriod-layout
            </button>
            <button class="btn btn-default">
                <img src="//i.stack.imgur.com/xqoqk.png" 
                height="18" width="20" alt="" class="sponsor-tag-img"> android-studio
            </button>
            <button class="btn btn-default">
                android-fragments
            </button>
            <button class="btn btn-default"
               data-placement="bottom" ngbPopover="You see, I show up on hover!" 
                triggers="mouseenter:mouseleave"
                popoverTitle="Pop title">
                searchview
            </button>
        </div>
    </ul>
</div>
<div class="first">
    <ul class="row col-8 nav nav-tabs">
        <div class="votes">
            <div routerLink="/votes">
                <div class="mini-counts">
                    <span title="0 votes"> &nbsp; &nbsp;&nbsp;&nbsp; 0
                         &nbsp; &nbsp; &nbsp; &nbsp;
                    </span>
                </div>
                <div>&nbsp;&nbsp;&nbsp;votes</div>
            </div>
        </div>
        <div class="status unanswered">
            <div routerLink="/answers">
                <div class="mini-counts">
                    <span title="0 answers"> &nbsp; &nbsp; &nbsp; 0 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </div>
                <div>answers</div>
            </div>
        </div>
        <div class="views">
            <div routerLink="/views">
                <div class="mini-counts">
                    <span title="15 views"> &nbsp; &nbsp; 15 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </div>
                <div>&nbsp;&nbsp;views</div>
            </div>
        </div>
        <div class="description">
            <div routerLink="">Not able to get value of SearchView on BackPress in android</div>
            <button class="btn btn-default">
                <img src="//i.stack.imgur.com/tKsDb.png"
                 height="18" width="20" alt="" class="sponsor-tag-img"> android
            </button>
            <button class="btn btn-default">
                andriod-layout
            </button>
            <button class="btn btn-default">
                <img src="//i.stack.imgur.com/xqoqk.png"
                 height="18" width="20" alt="" class="sponsor-tag-img"> android-studio
            </button>
            <button class="btn btn-default">
                android-fragments
            </button>
            <button class="btn btn-default" data-placement="bottom"
             ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave"
                popoverTitle="Pop title">
                searchview
            </button>
        </div>
    </ul>
</div>
<div class="first">
    <ul class="row col-8 nav nav-tabs">
        <div class="votes">
            <div routerLink="/votes">
                <div class="mini-counts">
                    <span title="0 votes"> &nbsp; &nbsp;&nbsp;&nbsp; 0 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </div>
                <div>&nbsp;&nbsp;&nbsp;votes</div>
            </div>
        </div>
        <div class="status unanswered">
            <div routerLink="/answers">
                <div class="mini-counts">
                    <span title="0 answers"> &nbsp; &nbsp; &nbsp; 0 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </div>
                <div>answers</div>
            </div>
        </div>
        <div class="views">
            <div routerLink="/views">
                <div class="mini-counts">
                    <span title="15 views"> &nbsp; &nbsp; 15 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </div>
                <div>&nbsp;&nbsp;views</div>
            </div>
        </div>
        <div class="description">
            <div routerLink="">Not able to get value of SearchView on BackPress in android</div>
            <button class="btn btn-default">
                <img src="//i.stack.imgur.com/tKsDb.png" height="18" width="20" alt="" class="sponsor-tag-img"> android
            </button>
            <button class="btn btn-default">
                andriod-layout
            </button>
            <button class="btn btn-default">
                <img src="//i.stack.imgur.com/xqoqk.png" height="18" width="20" alt="" class="sponsor-tag-img"> android-studio
            </button>
            <button class="btn btn-default">
                android-fragments
            </button>
            <button class="btn btn-default" data-placement="bottom" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave"
                popoverTitle="Pop title">
                searchview
            </button>
        </div>
    </ul>
</div>
<div class="first">
    <ul class="row col-8 nav nav-tabs">
        <div class="votes">
            <div routerLink="/votes">
                <div class="mini-counts">
                    <span title="0 votes"> &nbsp; &nbsp;&nbsp;&nbsp; 0 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </div>
                <div>&nbsp;&nbsp;&nbsp;votes</div>
            </div>
        </div>
        <div class="status unanswered">
            <div routerLink="/answers">
                <div class="mini-counts">
                    <span title="0 answers"> &nbsp; &nbsp; &nbsp; 0 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </div>
                <div>answers</div>
            </div>
        </div>
        <div class="views">
            <div routerLink="/views">
                <div class="mini-counts">
                    <span title="15 views"> &nbsp; &nbsp; 15 &nbsp; &nbsp; &nbsp; &nbsp;</span>
                </div>
                <div>&nbsp;&nbsp;views</div>
            </div>
        </div>
        <div class="description">
            <div routerLink="">Not able to get value of SearchView on BackPress in android</div>
            <button class="btn btn-default">
                <img src="//i.stack.imgur.com/tKsDb.png" height="18" width="20" alt="" class="sponsor-tag-img"> android
            </button>
            <button class="btn btn-default">
                andriod-layout
            </button>
            <button class="btn btn-default">
                <img src="//i.stack.imgur.com/xqoqk.png" height="18" width="20" alt="" class="sponsor-tag-img"> android-studio
            </button>
            <button class="btn btn-default">
                android-fragments
            </button>
            <button class="btn btn-default" data-placement="bottom" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave"
                popoverTitle="Pop title">
                searchview
            </button>
        </div>
    </ul>
</div>

       