.votes{
    font-size: 20px;
    color: #848d95;
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: 10px;
}

.status.unanswered{
    font-size: 20px;
    color: #848d95;
    margin-top: 30px;
    margin-bottom: 35px;
}

.views{
    font-size: 20px;
    color: #848d95;
    margin-top: 30px;
    margin-bottom: 35px; 
}

.first{
    margin-left: 40px;
}

.description{
    font-size: 25px;
    color: #005999;
    margin-top: 20px;
    
}

.btn.btn-default{
    background-color: #E1ECF4;
}