<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <input type="text" [(ngModel)]="title">
      <hr>
      <h1 class="name">{{ title }}</h1>
      <textarea name="title" class="red" cols="60" rows="10">{{ title }}</textarea>
      <br>
      <button class="btn btn-primary" [disabled]="!allowNewServer">Add server</button>
      <p>{{ 'Server' }} with ID {{ serverId }} is {{ getServerStatus() }} </p>
      <p>{{ 'Server' }} with ID {{ serverId }} is {{ getServerStatus() }} </p>
    </div>
  </div>
</div>