<div class="row">
  <div class="col-xs-12">
    <!-- <ol>
      <li>I</li>
      <li>My</li>
      <li>Me</li>
      <li>MySelf</li>
    </ol> -->
    <hr>
    <button class="btn btn-primary" (click)="onToggleDetials()">
      Display Detials
    </button>
    <p *ngIf="showSecret">Secret Passwored = tuna</p>
    <div
    *ngFor="let logItem of log; let i = index"
    [ngStyle]="{backgroundColor: i >= 4 ? 'pink' : 'transparent'}"
    [ngClass]="{'white-text' : i >= 4}">
    {{ logItem }}
    </div>
  </div>
</div>
